version: '3.8'

services:
  signalling-server:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "8888:8888"
    environment:
      - SERVER_PORT=8888
    volumes:
      - ./logs:/app/logs
    restart: unless-stopped

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8888"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

networks:
  default:
    name: backend-network
